{
  margin: 0;
  padding: 0;
  
}

html, body {

  height: 100%;
  width: 100%;
  overflow: hidden;

}

body {
  font-family: arial,sans-serif;
}

#container {

  min-height: 100%;
  width: 100%;
  

}
.page-header {

  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  color:#000;
  opacity: 0.75;

}

.page-main {

 
  padding-top: 170px;
  padding-bottom: 40px;
  margin: auto;
  width: 100%;
  text-align:center;
}

.search-form {

  padding-top: 40px;
  margin: auto;
  width: 100%;
  text-align:center;
   
}

/* Footer styling */

.page-footer {

  font-family: arial, sans-serif;
  font-size: 13px;
  padding-bottom: 20;
  position: relative;
  height: 40px;
  margin-top: -40px;
  clear: both;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;

  

}

/* header and navbar styling */


.page-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.page-header li {
    float: left;
  }
  
.page-header li a {
    display: block;
    text-align: center;
    padding: 5px ;
    color:#000;
    text-decoration: none;
  }
  
.page-header li a:hover {
    text-decoration: underline;
    color:#000;
  }




.page-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: none;
}
  
.page-footer li {
    float: left;
  }
  
.page-footer li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(95, 99, 104);
    }
  
.page-footer li a:hover {
    text-decoration: underline;
    color: rgb(95, 99, 104);
  }

.signin {

  background-color: #4285f4;
  color: white;
  

}

input{

  border-radius: 25px;
  padding-left: 30px;
  width: 500px;
  height: 45px; 
  border-style: solid;
  border-width: thin;
  border-color:rgb(135, 138, 141);
}

input:focus,input:active,input:hover {

  outline:none;
  border-radius: 25px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
   

}   


